// GENERALS

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
  width: 1700px;
  margin: 0 auto;
}

img{
  width: 100%;
}

a{
  color: black;
}

.btn{
  width: 200px;
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  color: $violet-color;
  background-color: white;
  border-radius: 5px;
}